mail.username=${MAIL_USERNAME:vitatrack168@gmail.com}
mail.password=${MAIL_PASSWORD:your-gmail-app-password}
mail.host=${MAIL_HOST:smtp.gmail.com}
mail.port=${MAIL_PORT:587}
app.base.url=${APP_BASE_URL:http://localhost:8080}
